    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Press Start 2P", system-ui;
            font-weight: 100;
            font-style: normal;
            font-size: 20px;
        }
        
